* { margin: 0; padding: 0; }
body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-family: sans-serif;
	padding: 20px 10px;
	box-sizing: border-box;
	width: 100%;
	min-height: 100vh;
	background-color: #2e2e2e;
	color: #fff;
}

body.four04 {
	justify-content: center;
}
body.four04 img {
	max-width: 400px;
	margin-bottom: 30px;
}
body.four04 h1 {
	font-size: 2.8rem;
}
body.four04 h3 {
	font-size: 1.4rem;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
	width: 100%;
	padding: 0 60px;
	box-sizing: border-box;
	transition: all 200ms ease;
}
header button {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
}
header > button {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 8px;
}
header button img {
	width: 40px;
}
header button h1 {
	margin: 10px 0 0 12px;
}

div#path {
	margin-top: 14px;
	flex-grow: 1;
	overflow-y: hidden;
	overflow-x: scroll;
}
div#path,
div#path div.path-stop {
	display: flex;
	flex-direction: row;
	align-items: center;
}
div#path div.path-stop p {
	margin: 0 6px;
	font-size: 1.2rem;
}
div#path div.path-stop button {
	font-size: 1.2rem;
	margin-top: -2px;
}
div#path div.path-stop button:hover {
	text-decoration: underline;
}

h1 {
	margin-bottom: 20px;
}
a {
	text-decoration: none;
}

div#map {
	width: 80%;
	max-width: 600px;
	transition: all 200ms ease;
}

div.item {
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.3);
	border: 2px solid rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 4px;
	box-sizing: border-box;
	transition: all 200ms ease;
	cursor: pointer;
	border-radius: 3px;
	color: #fff;
	padding: 0 60px;
}
div.item:hover {
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid rgba(255, 255, 255, 0.3);
}

div.item p {
	width: calc(100% - 30px - 30px);
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 5px;
	transition: all 100ms ease;
}
div.item img,
div.item div.spacer{
	display: block;
	width: 25px;
	transition: all 100ms ease 100ms;
}


@media only screen and (max-width: 600px) {
	header {
		padding: 0 10px;
	}
	div#map {
		width: 100%;
	}
	div.item {
		padding: 0 8px;
	}
	div.item div.spacer {
		width: 0;
	}
	div.item p {
		width: calc(100% - 30px);
	}
}

@media only screen and (max-width: 320px) {
	div#path div.path-stop p,
	div#path div.path-stop button {
		font-size: 1rem;
}


